* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

#login {
    position: fixed;
    padding: 10px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    border: 1px solid #aaa;
    text-align: center;
    display: none;
}

#loginForm label {
    display: block;
}

#chat {
    display: none;
}

#chat ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#chat li {
    padding: 2px;
    animation: slide-up .1s ease;
}

#chat li:nth-child(odd) {
    background: #eee;
}

#messages {
    position: fixed;
    top: 0;
    left: 0;
    right: 200px;
    bottom: 40px;
    overflow: auto;
}

#messages img {
    max-width: 100px;
    max-height: 100px;
}

#users {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    bottom: 40px;
    overflow: auto;
    border-left: 1px solid #aaa;
}

#users li:before {
    content: '@';
}

#messageForm {
    position: fixed;
    bottom: 0;
    padding: 3px;
    height: 40px;
    width: 100%;
    display: flex;
}

#messageForm button {
    flex: 0 0 100px;
}

#messageForm input {
    flex: 1;
}

#messageForm input[type="file"] {
    position: absolute;
    bottom: -100px;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}